.buttonBar {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    font-family: 'New Walt Disney Font', sans-serif;
  }

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
}


.linkWrapper {
    text-decoration: none;
    color: #000000;
}

.item {
    height: auto;
    width: 220px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 0;
    transition-duration: .5s;
  }

.gridimg {
    margin-top: 10px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.narrow {
    margin-bottom : 6px;
    font-family: 'New Walt Disney Font', sans-serif;
    font-size: large;
  }

.item:hover, .item:active, .item:focus {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: .5s;
}

.button {
    width: 100px;
    height: 50px;
    background-color: #A8E1AE !important;
    font-size: 25px !important;
    border: none !important;
    cursor: pointer;
    margin:2%;
    border-radius: 8px;
    color: black !important;
    font-family: 'New Walt Disney Font', sans-serif;
    // font-size: 50;
  }
.light {
  background-color: #d9f2dc !important;
}

.button:hover, .button:focus, .button:target, .button:active, .button:visited {
    background-color: #d9f2dc !important;
    color: black !important;
} 

.searchbar {
    width: 500px;
    padding-left: 1.6rem;
    padding-top: 5px;
    border-radius: 20px;
    appearance: none;
    margin-top: 2%;
    font-size: 25px;
    border-top: none;
    margin-left: 3px;

    height: 40px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: none;
    -webkit-appearance: none;

    font-family: 'New Walt Disney Font', sans-serif;
    // font-size: larger;
}

.searchBox {
  padding-top: 90px;
  font-family: 'New Walt Disney Font', sans-serif;
  margin-top: 75px;
}

input:focus {
  outline: none;

}