.profile-container {
    margin: auto;
    width: 80%;
    margin-top: 70px;
}

.spacing {
    padding: 30px;
}

.user {
    display: flex;
    margin: 0 10%;
    font-size: large;
    padding-bottom: 50px;
}

.user-snapshot {
    display: block;
    width: 25%;
    margin: 0 auto;
}

.user-details {
    display: block;
    width: 75%;
    text-align: left;
    padding: 0 5%;
    margin: 0;
    font-size: large;
}

.profile-pic {
    width: 80%;
    border-radius: 50%;
}

.name-and-settings {
    display: flex;
    img {
        padding-left: 25%;
    }
}

@media only screen and (min-width: 400px) {
    .user {
        display: block;
    }
    .user-details {
        text-align: center;
        margin: auto;
    }
}

@media only screen and (min-width: 961px) {
    .user {
        display: flex;
    }
    .user-details {
        text-align: left;
        margin: 0;
    }
}

.but {
    margin: 10px;
    outline: none !important;
    width: 100px;
}
.log {
    background-color: #a9a9a9 !important;
    border: none !important;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}